<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

    <!-- <header>
        <%- include('../partials/header'); %>
    </header> -->

    <div class="container">
        <div class="header">
            <div class="left-header">
                <a class="previous" href="#" onclick="history.go(-1)">&laquo;</a> 
            </div>
            <div class="central-header">
                <div class="title">
                    Datos Historicos
                </div>
                <dif class="user_id">
                    <p><%= avatar %></p>
                </dif>
                 
            </div>
            <div class="right-header"></div>
        </div>
        <div class="contenido">
           <div id="map" class="map"></div> 
        </div>
        <div class="sidebar-1"> </div>
        <div class="sidebar-2"> 
            <select id="selectNumber" onchange="changeLayer()">
                <option value="" selected>Fecha</option>
            </select>
        </div>
        <div class="footer">Electro Software SAS</div>
    </div>
    <script src="./js/historico.js"></script>
    <script>
      
       
        var data =<%-JSON.stringify(data)%>
        var extent = <%= limit %>

        console.log(extent)


        var temp_dates = []
        for (i=0; i< data.length; i++){
            //agregado timespan
            if (data[i].hasOwnProperty('fecha')){
                temp_dates.push(data[i].fecha.split('T')[0]);
            }
        }

        let uniqueDates = filterUniqueDates(temp_dates);

        /**
         * creacion del select con las opciones del vector date
         */
        var select = document.getElementById("selectNumber");

        for(var i = 0; i < uniqueDates.length; i++) {
            var opt = uniqueDates[i];
            var el = document.createElement("option");
            el.textContent = opt;
            el.value = opt;
            select.appendChild(el);
        }

        

        map.getView().fit(extent,{maxZoom: 16});

        function changeLayer() {
            var x = document.getElementById("selectNumber").value;
            if (!(x === "")){

                var i,temp,lat,lon, geom, feature, features = [];
                var temp_segmento = [];
                var temp_dates = []

                vectorSource.clear();
                linesource.clear();
                for (i=0; i< data.length; i++){
                    temp = data[i].location;
                    temp_date = data[i].fecha.split('T')[0];
                    lat = temp[1];
                    lon = temp[0];
                    geom_start = null;
                    geom_end = null;

                    if (x === temp_date) {
                        var coord = ol.proj.transform([lon,lat], 'EPSG:4326', 'EPSG:3857');
                        temp_segmento.push([coord[0], coord[1]]);

                        

                        geom = new ol.geom.Point(
                            ol.proj.transform([lon,lat], 'EPSG:4326', 'EPSG:3857')
                        );

                        feature = new ol.Feature({
                            type: 'marker',
                            geometry:geom
                        });

                        if (data[i].hasOwnProperty('fecha')){
                            feature.set('date', data[i].fecha.split('T')[0]) ;
                            feature.set('time', data[i].fecha.split('T')[1]) ;
                        }
                            
                        features.push(feature);


                    }
                }
        
        
                
                let temp_feature = new ol.Feature({
                    geometry : new ol.geom.LineString(temp_segmento,'XY' ),
                });
               

                var routeLength = features.length;
                var startMarker = new ol.Feature({
                    type: 'start',
                    geometry: features[0].get('geometry'),
                });
                
                var endMarker = new ol.Feature({
                    type: 'end',
                    geometry: features[routeLength - 1].get('geometry'),
                });
                // features.push(startMarker);
                // features.push(endMarker);

                linesource.addFeature(temp_feature);
                vectorSource.addFeatures(features);
                vectorSource.addFeature(startMarker);
                vectorSource.addFeature(endMarker);

                map.getView().fit(features[features.length - 1].getGeometry(),{maxZoom: 16});
            }


            



        }
       
    </script>

    <!-- <footer>
        <%- include('../partials/footer'); %>
    </footer> -->

</body>
</html>